/*
header{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

header h1{
    color: darkblue;
}

aside{
    width: 150px;
    height: 100%;
    background-color: #c8cdd4;
    float: left;
}

aside text{

}

main{
    float: left;
    margin-left: 20px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#menu ul{
    list-style: none;
}

#menu li{
    margin: .5em;
}

#menu a{
    text-decoration: none;
}

#nav a:focus,
#nav a:hover,
#nav a:active{
    text-decoration: underline;
    font-weight: bold;
}

*/
.table{
    color: #333;
    width: 100%;
    font-family: Arial,Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;

}
td, th {
    border: 1px solid transparent;
    height: 50px;
    transition: all 0.3s;
}

th {
    background: gray;
    color: black;
    font-weight: bold;
    text-shadow: white;
    letter-spacing: 3px;
    font-size: 24px;
}

td {
    background: #FAFAFA;
    text-align: center;
    font-weight: bold;
}

tr:nth-child(even) td {background: #F1F1F1;}
tr:nth-child(odd) td {background: #FEFEFE;}
tr:hover { background: black; color: green; font-weight: bolder }

.button {
    background: lawngreen;
    border: 1px solid green;
    color: black;
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: block;

}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
