.menu-button {
    display: inline-block;
    border-radius: 4px;
    background-color: lawngreen;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
}

.menu-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.menu-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.menu-button:hover span {
    padding-right: 25px;
}

.menu-button:hover span:after {
    opacity: 1;
    right: 0;
}